/* Guide for sections of css */

/* Temperature Units */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

#container {
  /* background: blue; */
}

#data-container {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  box-shadow: 1px 1px 4px 2px black;
  border-radius: 5px;
  background: linear-gradient(30deg, #4a3434, #aabbcc);
}
#temperature-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}

/* ****************** */
/* Temperature Units */
/* ****************** */
#temperature-units-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#temperature-units-container button {
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  /* border: unset; */
}
